# files typo3 creates when installed
/config
/public
/var
/vendor

# a lock file does not make sense for a library
/composer.lock

# build artifacts
/.build
/dist
/typo3temp
/Resources/Private/PHP/vendor
/Resources/Private/PHP/composer.lock

# Node.js / Build
/Build/node_modules
/Build/.typo3-core-types
/Build/.typo3-core-dts

# other
*.local